.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.input-box {
    width: 400px;
    height: 40px;
    outline: none;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
}

.circle-button {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(64, 135, 57) !important;
    border-radius: 50% !important;
    color: white;
    margin: 10px;
    border: none !important;
}